resources/kafka_to_iceberg.json
{"flowContents":{"identifier":"fb238e09-faa0-3938-8671-a5be9532c5c6","instanceIdentifier":"92c002ec-0186-1000-ffff-ffffc3aeedd9","name":"processGroup","comments":"","position":{"x":936.0,"y":168.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"79349aad-ae59-340c-a6a2-d8463cd557c5","instanceIdentifier":"2aceb39b-2338-319e-961f-6458511db04c","name":"ConsumeKafka_2_6","comments":"","position":{"x":448.0,"y":232.0},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"header-name-regex":null,"Commit Offsets":"true","group.id":"#{Kafka Consumer Group Id}","bootstrap.servers":"#{Kafka Brokers}","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"PLAIN","honor-transactions":"true","kerberos-user-service":null,"message-header-encoding":"UTF-8","message-demarcator":null,"sasl.username":"#{CDP Workload Username}","max.poll.records":"10000","security.protocol":"SASL_SSL","ssl.context.service":"016f7775-ce74-346b-991f-483e7f8dee97","sasl.token.auth":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"#{Kafka Topic}","separate-by-key":"false","sasl.password":"#{CDP Workload User Password}","key-attribute-encoding":"utf-8","auto.offset.reset":"earliest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb238e09-faa0-3938-8671-a5be9532c5c6"},{"identifier":"35992b0d-259a-3870-b041-479d741f7761","instanceIdentifier":"dba06b52-31da-32f6-8587-19bff0e844c3","name":"MergeContent","comments":"","position":{"x":448.0,"y":576.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"Keep Path":"false","Maximum Group Size":"1 GB","Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"100000000","Minimum Group Size":"1 MB","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Avro","Footer File":null,"Max Bin Age":"5 mins","Demarcator File":null,"Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb238e09-faa0-3938-8671-a5be9532c5c6"},{"identifier":"68ec482a-6b35-3a71-bd1e-ce9093a4ce03","instanceIdentifier":"28f09e97-9b6e-3a74-814a-ab667ececb49","name":"PutIceberg","comments":"","position":{"x":1192.0,"y":584.0},"type":"org.apache.nifi.processors.iceberg.PutIceberg","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-processors-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"maximum-file-size":null,"file-format":"PARQUET","catalog-service":"f304aaf9-3033-3ccb-8c62-8e8c36022a5d","record-reader":"6146e509-86c7-32d0-b3cb-ee652697fa57","table-name":"telco_iceberg_kafka","kerberos-user-service":"18cfc9b6-c1b0-3b39-9eb8-319e41719bc6","catalog-namespace":"#{Database}"},"propertyDescriptors":{"maximum-file-size":{"name":"maximum-file-size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"file-format":{"name":"file-format","displayName":"File Format","identifiesControllerService":false,"sensitive":false},"catalog-service":{"name":"catalog-service","displayName":"Catalog Service","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"table-name":{"name":"table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"catalog-namespace":{"name":"catalog-namespace","displayName":"Catalog Namespace","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb238e09-faa0-3938-8671-a5be9532c5c6"},{"identifier":"c80e6d85-892e-333e-81fa-d28ca54a079b","instanceIdentifier":"5f2a0849-1f24-3532-8415-8a480f7706f5","name":"ConvertAvroToParquet","comments":"","position":{"x":1192.0,"y":232.0},"type":"org.apache.nifi.processors.parquet.ConvertAvroToParquet","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"enable-dictionary-encoding":null,"page-size":null,"writer-version":null,"max-padding-size":null,"compression-type":"UNCOMPRESSED","enable-validation":null,"dictionary-page-size":null,"row-group-size":null},"propertyDescriptors":{"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb238e09-faa0-3938-8671-a5be9532c5c6"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"68c267ce-6506-3f9b-b9e3-5c0a1cb099a3","instanceIdentifier":"a23b2600-0f84-39c8-92b4-1ef40ec8e9c1","name":"","source":{"id":"c80e6d85-892e-333e-81fa-d28ca54a079b","type":"PROCESSOR","groupId":"fb238e09-faa0-3938-8671-a5be9532c5c6","name":"ConvertAvroToParquet","comments":"","instanceIdentifier":"5f2a0849-1f24-3532-8415-8a480f7706f5"},"destination":{"id":"68ec482a-6b35-3a71-bd1e-ce9093a4ce03","type":"PROCESSOR","groupId":"fb238e09-faa0-3938-8671-a5be9532c5c6","name":"PutIceberg","comments":"","instanceIdentifier":"28f09e97-9b6e-3a74-814a-ab667ececb49"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb238e09-faa0-3938-8671-a5be9532c5c6"},{"identifier":"afb94ac6-e987-3051-9870-b65b12085ccd","instanceIdentifier":"af038a72-434a-3513-b283-6a66a3f8ef98","name":"","source":{"id":"35992b0d-259a-3870-b041-479d741f7761","type":"PROCESSOR","groupId":"fb238e09-faa0-3938-8671-a5be9532c5c6","name":"MergeContent","comments":"","instanceIdentifier":"dba06b52-31da-32f6-8587-19bff0e844c3"},"destination":{"id":"c80e6d85-892e-333e-81fa-d28ca54a079b","type":"PROCESSOR","groupId":"fb238e09-faa0-3938-8671-a5be9532c5c6","name":"ConvertAvroToParquet","comments":"","instanceIdentifier":"5f2a0849-1f24-3532-8415-8a480f7706f5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb238e09-faa0-3938-8671-a5be9532c5c6"},{"identifier":"72662eb6-145a-38b3-8f9e-0e1d1f59c467","instanceIdentifier":"7c3e365a-ff9b-3009-b13f-278a6e894daa","name":"","source":{"id":"79349aad-ae59-340c-a6a2-d8463cd557c5","type":"PROCESSOR","groupId":"fb238e09-faa0-3938-8671-a5be9532c5c6","name":"ConsumeKafka_2_6","comments":"","instanceIdentifier":"2aceb39b-2338-319e-961f-6458511db04c"},"destination":{"id":"35992b0d-259a-3870-b041-479d741f7761","type":"PROCESSOR","groupId":"fb238e09-faa0-3938-8671-a5be9532c5c6","name":"MergeContent","comments":"","instanceIdentifier":"dba06b52-31da-32f6-8587-19bff0e844c3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb238e09-faa0-3938-8671-a5be9532c5c6"},{"identifier":"cd0f847c-b9cd-35e7-a821-26f073a3e67a","instanceIdentifier":"62d14266-3614-3c21-a84c-e4d9ddf432bb","name":"","source":{"id":"68ec482a-6b35-3a71-bd1e-ce9093a4ce03","type":"PROCESSOR","groupId":"fb238e09-faa0-3938-8671-a5be9532c5c6","name":"PutIceberg","comments":"","instanceIdentifier":"28f09e97-9b6e-3a74-814a-ab667ececb49"},"destination":{"id":"904d7df7-d41a-31cb-aac7-0580eda3ad35","type":"FUNNEL","groupId":"fb238e09-faa0-3938-8671-a5be9532c5c6","name":"Funnel","comments":"","instanceIdentifier":"7f6b7eb4-a34a-306a-acac-f01ecc82bc99"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb238e09-faa0-3938-8671-a5be9532c5c6"},{"identifier":"dcf94de1-0dd3-39fc-8fd3-c81b28ab923c","instanceIdentifier":"17f56ef0-1b2d-3e93-af6b-a2719abea440","name":"","source":{"id":"68ec482a-6b35-3a71-bd1e-ce9093a4ce03","type":"PROCESSOR","groupId":"fb238e09-faa0-3938-8671-a5be9532c5c6","name":"PutIceberg","comments":"","instanceIdentifier":"28f09e97-9b6e-3a74-814a-ab667ececb49"},"destination":{"id":"8e09bdae-7800-3522-b29a-13c603f1d56d","type":"FUNNEL","groupId":"fb238e09-faa0-3938-8671-a5be9532c5c6","name":"Funnel","comments":"","instanceIdentifier":"9424fe7f-51ab-3cd9-87c9-5a933971b2f9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb238e09-faa0-3938-8671-a5be9532c5c6"}],"labels":[{"identifier":"82b5f9d3-bf34-3838-8a3d-47a1810947a7","instanceIdentifier":"e79652a1-76da-33d5-b4f3-56c7f74ebe6d","position":{"x":352.0,"y":152.0},"label":"Pull Data from Kafka to Iceberg Table","zIndex":0,"width":1304.0,"height":848.0,"style":{"background-color":"#ffe3b0","font-size":"20px"},"componentType":"LABEL","groupIdentifier":"fb238e09-faa0-3938-8671-a5be9532c5c6"}],"funnels":[{"identifier":"8e09bdae-7800-3522-b29a-13c603f1d56d","instanceIdentifier":"9424fe7f-51ab-3cd9-87c9-5a933971b2f9","position":{"x":1112.0,"y":896.0},"componentType":"FUNNEL","groupIdentifier":"fb238e09-faa0-3938-8671-a5be9532c5c6"},{"identifier":"904d7df7-d41a-31cb-aac7-0580eda3ad35","instanceIdentifier":"7f6b7eb4-a34a-306a-acac-f01ecc82bc99","position":{"x":1536.0,"y":896.0},"componentType":"FUNNEL","groupIdentifier":"fb238e09-faa0-3938-8671-a5be9532c5c6"}],"controllerServices":[{"identifier":"6146e509-86c7-32d0-b3cb-ee652697fa57","instanceIdentifier":"f7c37d36-1284-32db-bdee-b80fd0bea1bf","name":"ParquetReader","type":"org.apache.nifi.parquet.ParquetReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"avro-read-compatibility":"true"},"propertyDescriptors":{"avro-read-compatibility":{"name":"avro-read-compatibility","displayName":"Avro Read Compatibility","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.3.7.3-1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fb238e09-faa0-3938-8671-a5be9532c5c6"},{"identifier":"016f7775-ce74-346b-991f-483e7f8dee97","instanceIdentifier":"92c001cf-0186-1000-0000-00004d2703ad","name":"Default NiFi SSL Context Service","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/home/nifi/additional/secret/ssl_truststore/ssl-truststore.jks","Keystore Filename":"/home/nifi/additional/secret/ssl_keystore/ssl-keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.3.7.3-1"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.3.7.3-1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"92c002ec-0186-1000-ffff-ffffc3aeedd9"},{"identifier":"f304aaf9-3033-3ccb-8c62-8e8c36022a5d","instanceIdentifier":"90a50718-3b6f-3e92-ad5a-4156cb7bad1b","name":"HiveCatalogService","comments":"","type":"org.apache.nifi.services.iceberg.HiveCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"hadoop-config-resources":"#{CDPEnvironment}","warehouse-location":null,"hive-metastore-uri":null},"propertyDescriptors":{"hadoop-config-resources":{"name":"hadoop-config-resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"warehouse-location":{"name":"warehouse-location","displayName":"Default Warehouse Location","identifiesControllerService":false,"sensitive":false},"hive-metastore-uri":{"name":"hive-metastore-uri","displayName":"Hive Metastore URI","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.services.iceberg.IcebergCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-api-nar","version":"1.18.0.2.3.7.3-1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fb238e09-faa0-3938-8671-a5be9532c5c6"},{"identifier":"18cfc9b6-c1b0-3b39-9eb8-319e41719bc6","instanceIdentifier":"f4f1395e-53f1-3eba-a663-0308577de072","name":"KerberosPasswordUserService","comments":"","type":"org.apache.nifi.kerberos.KerberosPasswordUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-user-service-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"Kerberos Password":"#{CDP Workload User Password}","Kerberos Principal":"#{CDP Workload Username}"},"propertyDescriptors":{"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.3.7.3-1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fb238e09-faa0-3938-8671-a5be9532c5c6"},{"identifier":"5a975280-c2b6-3cb7-bb17-e96096a484e6","instanceIdentifier":"e29b599f-0051-37b5-b132-cad334a34de2","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.3.7.3-1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fb238e09-faa0-3938-8671-a5be9532c5c6"}],"variables":{},"parameterContextName":"parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"parameters":{"name":"parameters","parameters":[{"name":"CDP Workload User Password","description":"","sensitive":true,"provided":false},{"name":"CDP Workload Username","description":"","sensitive":false,"provided":false,"value":"acampos"},{"name":"Kafka Topic","description":"","sensitive":false,"provided":false,"value":"telco_avro"},{"name":"Kafka Brokers","description":"","sensitive":false,"provided":false,"value":"csrsmlddh-corebroker1.se-sandb.a465-9q4k.cloudera.site:9093,csrsmlddh-corebroker0.se-sandb.a465-9q4k.cloudera.site:9093,csrsmlddh-corebroker2.se-sandb.a465-9q4k.cloudera.site:9093"},{"name":"Kafka Consumer Group Id","description":"","sensitive":false,"provided":false,"value":"consumer_alex"},{"name":"Database","description":"","sensitive":false,"provided":false,"value":"acampos"},{"name":"CDPEnvironment","description":"","sensitive":false,"provided":false,"value":"/home/nifi/additional/secret/env_config/core-site.xml,/home/nifi/additional/secret/env_config/ssl-client.xml,/home/nifi/additional/secret/env_config/hive-site.xml"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}