resources/s3_to_kafka.json
{"flowContents":{"identifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be","instanceIdentifier":"012b911a-0189-1000-ffff-fffff2bcb80f","name":"processGroup","comments":"","position":{"x":1224.0,"y":304.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"10aad048-0424-3924-b729-f8c44088ad43","instanceIdentifier":"f9a05a0c-8177-304f-9500-c92cf0c78a15","name":"SplitJson","comments":"","position":{"x":1204.5000045184045,"y":686.5000114299831},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.[*]"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be"},{"identifier":"036a18b1-e27a-34d0-93d9-5d5f0c05d7ff","instanceIdentifier":"8f98c6d3-4c43-3427-8680-5bb7e7e1d1ad","name":"atrributes_to_content","comments":"","position":{"x":1204.5000045184045,"y":294.50001142998315},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"true","Attributes List":"customerid, churn, monthlycharges, totalcharges, tenure, gender, dependents, onlinesecurity, multiplelines, internetservice, seniorcitizen, techsupport, contract, streamingmovies, deviceprotection, paymentmethod, streamingtv, phoneservice, paperlessbilling, partner, onlinebackup","Include Core Attributes":"false"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be"},{"identifier":"772565c9-c81a-3d6f-92c2-0cf9db8fb45d","instanceIdentifier":"2d715624-baee-329c-9ce1-66437bddaa3f","name":"Fetch_from_S3","comments":"","position":{"x":584.0,"y":488.0},"type":"org.apache.nifi.processors.hadoop.FetchHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"HDFS Filename":"s3a://goes-se-sandbox01/data/WA_Fn-UseC_-Telco-Customer-Churn-new.csv","Hadoop Configuration Resources":"#{CDPEnvironment}","kerberos-credentials-service":null,"Kerberos Keytab":null,"Additional Classpath Resources":null,"Kerberos Principal":"acampos","Compression codec":"NONE","kerberos-user-service":null,"Kerberos Relogin Period":"4 hours"},"propertyDescriptors":{"HDFS Filename":{"name":"HDFS Filename","displayName":"HDFS Filename","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["comms.failure","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be"},{"identifier":"61453945-2a16-3373-91a2-c5c95f933b13","instanceIdentifier":"62a20d7c-e078-36b0-8071-7f7944a4c622","name":"data_into_attributes","comments":"","position":{"x":1208.0,"y":496.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"multiplelines":"$.[\"MultipleLines\"]","Destination":"flowfile-attribute","gender":"$.[\"gender\"]","onlinesecurity":"$.[\"OnlineSecurity\"]","techsupport":"$.[\"TechSupport\"]","churn":"$.[\"Churn\"]","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","streamingmovies":"$.[\"StreamingMovies\"]","totalcharges":"$.[\"TotalCharges\"]","tenure":"$.[\"tenure\"]","paperlessbilling":"$.[\"PaperlessBilling\"]","internetservice":"$.[\"InternetService\"]","Return Type":"auto-detect","contract":"$.[\"Contract\"]","seniorcitizen":"$.[\"SeniorCitizen\"]","deviceprotection":"$.[\"DeviceProtection\"]","streamingtv":"$.[\"StreamingTV\"]","partner":"$.[\"Partner\"]","monthlycharges":"$.[\"MonthlyCharges\"]","customerid":"$.[\"customerID\"]","dependents":"$.[\"Dependents\"]","onlinebackup":"$.[\"OnlineBackup\"]","phoneservice":"$.[\"PhoneService\"]","paymentmethod":"$.[\"PaymentMethod\"]"},"propertyDescriptors":{"multiplelines":{"name":"multiplelines","displayName":"multiplelines","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"gender":{"name":"gender","displayName":"gender","identifiesControllerService":false,"sensitive":false},"onlinesecurity":{"name":"onlinesecurity","displayName":"onlinesecurity","identifiesControllerService":false,"sensitive":false},"techsupport":{"name":"techsupport","displayName":"techsupport","identifiesControllerService":false,"sensitive":false},"churn":{"name":"churn","displayName":"churn","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"streamingmovies":{"name":"streamingmovies","displayName":"streamingmovies","identifiesControllerService":false,"sensitive":false},"totalcharges":{"name":"totalcharges","displayName":"totalcharges","identifiesControllerService":false,"sensitive":false},"tenure":{"name":"tenure","displayName":"tenure","identifiesControllerService":false,"sensitive":false},"paperlessbilling":{"name":"paperlessbilling","displayName":"paperlessbilling","identifiesControllerService":false,"sensitive":false},"internetservice":{"name":"internetservice","displayName":"internetservice","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"contract":{"name":"contract","displayName":"contract","identifiesControllerService":false,"sensitive":false},"seniorcitizen":{"name":"seniorcitizen","displayName":"seniorcitizen","identifiesControllerService":false,"sensitive":false},"deviceprotection":{"name":"deviceprotection","displayName":"deviceprotection","identifiesControllerService":false,"sensitive":false},"streamingtv":{"name":"streamingtv","displayName":"streamingtv","identifiesControllerService":false,"sensitive":false},"partner":{"name":"partner","displayName":"partner","identifiesControllerService":false,"sensitive":false},"monthlycharges":{"name":"monthlycharges","displayName":"monthlycharges","identifiesControllerService":false,"sensitive":false},"customerid":{"name":"customerid","displayName":"customerid","identifiesControllerService":false,"sensitive":false},"dependents":{"name":"dependents","displayName":"dependents","identifiesControllerService":false,"sensitive":false},"onlinebackup":{"name":"onlinebackup","displayName":"onlinebackup","identifiesControllerService":false,"sensitive":false},"phoneservice":{"name":"phoneservice","displayName":"phoneservice","identifiesControllerService":false,"sensitive":false},"paymentmethod":{"name":"paymentmethod","displayName":"paymentmethod","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be"},{"identifier":"dbb92b5f-6a55-3f36-a622-79c695ca1273","instanceIdentifier":"2565f507-f514-39ae-8685-eeff0aaa1d22","name":"Publish_Kafka_Topic","comments":"","position":{"x":1832.0,"y":480.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"e87cdad5-6f8d-324b-a905-fbbd4a91b2ce","bootstrap.servers":"#{kafkabrokers}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"sasl.mechanism":"PLAIN","max.block.ms":"15 sec","record-reader":"5a975280-c2b6-3cb7-bb17-e96096a484e6","message-header-encoding":"UTF-8","transactional-id-prefix":null,"ack.wait.time":"15 secs","sasl.username":"acampos","use-transactions":"false","acks":"0","aws.profile.name":null,"security.protocol":"SASL_SSL","ssl.context.service":"ed3cf253-8e76-3dfe-a6c9-8eeb654290bd","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"telco_data"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be"},{"identifier":"87b7ac0b-1a28-3bb7-9a53-2552bfd23620","instanceIdentifier":"765150ff-186c-3222-943f-accf3ba2350d","name":"CSV_to_JSON","comments":"","position":{"x":576.0,"y":680.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"record-writer":"e87cdad5-6f8d-324b-a905-fbbd4a91b2ce","record-reader":"8f99df06-88c9-339b-b8c3-1d62ca0e6821","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be"},{"identifier":"e73c0886-3493-32ac-98b0-596d5cc1cb70","instanceIdentifier":"3186dfce-288e-3625-abf9-e58953aeafb1","name":"GenerateFlowFile","comments":"","position":{"x":580.5000045184045,"y":302.50001142998315},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"true","timebase":"1591142400","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"timebase":{"name":"timebase","displayName":"timebase","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1000 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f2bee950-9800-37d3-ad27-77fb0634daa0","instanceIdentifier":"71ac6975-afb5-3443-8805-30e570df3623","name":"","source":{"id":"772565c9-c81a-3d6f-92c2-0cf9db8fb45d","type":"PROCESSOR","groupId":"350b9010-0d1d-3ebd-8458-0dc81c34d9be","name":"Fetch_from_S3","comments":"","instanceIdentifier":"2d715624-baee-329c-9ce1-66437bddaa3f"},"destination":{"id":"87b7ac0b-1a28-3bb7-9a53-2552bfd23620","type":"PROCESSOR","groupId":"350b9010-0d1d-3ebd-8458-0dc81c34d9be","name":"CSV_to_JSON","comments":"","instanceIdentifier":"765150ff-186c-3222-943f-accf3ba2350d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be"},{"identifier":"19ebff6e-a8af-399e-93fd-de2e0edeaf5f","instanceIdentifier":"27d2096a-8a30-33bf-b04c-c88acb292a72","name":"","source":{"id":"61453945-2a16-3373-91a2-c5c95f933b13","type":"PROCESSOR","groupId":"350b9010-0d1d-3ebd-8458-0dc81c34d9be","name":"data_into_attributes","comments":"","instanceIdentifier":"62a20d7c-e078-36b0-8071-7f7944a4c622"},"destination":{"id":"036a18b1-e27a-34d0-93d9-5d5f0c05d7ff","type":"PROCESSOR","groupId":"350b9010-0d1d-3ebd-8458-0dc81c34d9be","name":"atrributes_to_content","comments":"","instanceIdentifier":"8f98c6d3-4c43-3427-8680-5bb7e7e1d1ad"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be"},{"identifier":"3f46a42f-fc2d-357b-8514-d76ea240da6d","instanceIdentifier":"d4142e6d-2740-30a2-90e8-480d680788aa","name":"","source":{"id":"dbb92b5f-6a55-3f36-a622-79c695ca1273","type":"PROCESSOR","groupId":"350b9010-0d1d-3ebd-8458-0dc81c34d9be","name":"Publish_Kafka_Topic","comments":"","instanceIdentifier":"2565f507-f514-39ae-8685-eeff0aaa1d22"},"destination":{"id":"e5462671-28a4-3e7f-a878-61b333c82fcf","type":"FUNNEL","groupId":"350b9010-0d1d-3ebd-8458-0dc81c34d9be","name":"Funnel","comments":"","instanceIdentifier":"da6d40b2-5084-3426-827a-cc01b6d6a7d0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be"},{"identifier":"b55b475a-49f0-3db7-a6f3-8933f60107c2","instanceIdentifier":"5887d244-3f44-3788-b30d-1baa7c61989b","name":"","source":{"id":"dbb92b5f-6a55-3f36-a622-79c695ca1273","type":"PROCESSOR","groupId":"350b9010-0d1d-3ebd-8458-0dc81c34d9be","name":"Publish_Kafka_Topic","comments":"","instanceIdentifier":"2565f507-f514-39ae-8685-eeff0aaa1d22"},"destination":{"id":"65f935ba-e889-35cc-bd0d-cfe603de5e15","type":"FUNNEL","groupId":"350b9010-0d1d-3ebd-8458-0dc81c34d9be","name":"Funnel","comments":"","instanceIdentifier":"bdd9b41a-58c2-3351-9d5b-b0d18c6695c0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be"},{"identifier":"05a895b0-6e82-3474-8089-571b0ee69ac7","instanceIdentifier":"0707b8b4-761a-3c5f-9457-4705d53c5861","name":"","source":{"id":"e73c0886-3493-32ac-98b0-596d5cc1cb70","type":"PROCESSOR","groupId":"350b9010-0d1d-3ebd-8458-0dc81c34d9be","name":"GenerateFlowFile","comments":"","instanceIdentifier":"3186dfce-288e-3625-abf9-e58953aeafb1"},"destination":{"id":"772565c9-c81a-3d6f-92c2-0cf9db8fb45d","type":"PROCESSOR","groupId":"350b9010-0d1d-3ebd-8458-0dc81c34d9be","name":"Fetch_from_S3","comments":"","instanceIdentifier":"2d715624-baee-329c-9ce1-66437bddaa3f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be"},{"identifier":"4917e3c1-175a-3bf9-823a-b492a7ccb065","instanceIdentifier":"1a10afa6-a09b-36e4-a1b9-bbfb0217ce0e","name":"","source":{"id":"87b7ac0b-1a28-3bb7-9a53-2552bfd23620","type":"PROCESSOR","groupId":"350b9010-0d1d-3ebd-8458-0dc81c34d9be","name":"CSV_to_JSON","comments":"","instanceIdentifier":"765150ff-186c-3222-943f-accf3ba2350d"},"destination":{"id":"10aad048-0424-3924-b729-f8c44088ad43","type":"PROCESSOR","groupId":"350b9010-0d1d-3ebd-8458-0dc81c34d9be","name":"SplitJson","comments":"","instanceIdentifier":"f9a05a0c-8177-304f-9500-c92cf0c78a15"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be"},{"identifier":"c36d0276-1243-3369-8e9b-57eddeb323db","instanceIdentifier":"83f46988-bd5d-3e54-a5f0-be1633401a6d","name":"","source":{"id":"036a18b1-e27a-34d0-93d9-5d5f0c05d7ff","type":"PROCESSOR","groupId":"350b9010-0d1d-3ebd-8458-0dc81c34d9be","name":"atrributes_to_content","comments":"","instanceIdentifier":"8f98c6d3-4c43-3427-8680-5bb7e7e1d1ad"},"destination":{"id":"dbb92b5f-6a55-3f36-a622-79c695ca1273","type":"PROCESSOR","groupId":"350b9010-0d1d-3ebd-8458-0dc81c34d9be","name":"Publish_Kafka_Topic","comments":"","instanceIdentifier":"2565f507-f514-39ae-8685-eeff0aaa1d22"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be"},{"identifier":"6e25f7bb-fe7b-3b51-8bf3-af566741eca7","instanceIdentifier":"a5c22970-9275-320f-b103-5045fd863c81","name":"","source":{"id":"10aad048-0424-3924-b729-f8c44088ad43","type":"PROCESSOR","groupId":"350b9010-0d1d-3ebd-8458-0dc81c34d9be","name":"SplitJson","comments":"","instanceIdentifier":"f9a05a0c-8177-304f-9500-c92cf0c78a15"},"destination":{"id":"61453945-2a16-3373-91a2-c5c95f933b13","type":"PROCESSOR","groupId":"350b9010-0d1d-3ebd-8458-0dc81c34d9be","name":"data_into_attributes","comments":"","instanceIdentifier":"62a20d7c-e078-36b0-8071-7f7944a4c622"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be"}],"labels":[{"identifier":"99ccd4d6-c26e-34c6-87a4-6e865770b872","instanceIdentifier":"7fe2ef7f-3850-34eb-a11a-29538f23e56d","position":{"x":1736.0,"y":272.0},"label":"Publish to Kafka Topic","zIndex":0,"width":792.0,"height":544.0,"style":{"background-color":"#ffe3b0","font-size":"20px"},"componentType":"LABEL","groupIdentifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be"},{"identifier":"82b5f9d3-bf34-3838-8a3d-47a1810947a7","instanceIdentifier":"cd711987-c471-3bc8-915f-192c7b7ad7a8","position":{"x":504.0,"y":240.0},"label":"Pull Data from S3 and Format for Kafka","zIndex":0,"width":1112.0,"height":624.0,"style":{"background-color":"#ffe3b0","font-size":"20px"},"componentType":"LABEL","groupIdentifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be"}],"funnels":[{"identifier":"65f935ba-e889-35cc-bd0d-cfe603de5e15","instanceIdentifier":"bdd9b41a-58c2-3351-9d5b-b0d18c6695c0","position":{"x":2416.0,"y":712.0},"componentType":"FUNNEL","groupIdentifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be"},{"identifier":"e5462671-28a4-3e7f-a878-61b333c82fcf","instanceIdentifier":"da6d40b2-5084-3426-827a-cc01b6d6a7d0","position":{"x":2416.0,"y":368.0},"componentType":"FUNNEL","groupIdentifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be"}],"controllerServices":[{"identifier":"e87cdad5-6f8d-324b-a905-fbbd4a91b2ce","instanceIdentifier":"91eeaf95-0570-321a-97fa-3b9516680126","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be"},{"identifier":"ed3cf253-8e76-3dfe-a6c9-8eeb654290bd","instanceIdentifier":"012b8fb3-0189-1000-0000-0000611d2965","name":"Default NiFi SSL Context Service","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/home/nifi/additional/secret/ssl_truststore/ssl-truststore.jks","Keystore Filename":"/home/nifi/additional/secret/ssl_keystore/ssl-keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"012b911a-0189-1000-ffff-fffff2bcb80f"},{"identifier":"8f99df06-88c9-339b-b8c3-1d62ca0e6821","instanceIdentifier":"37c98c70-28e1-3521-937f-f738bc1ce0c8","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":";","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be"},{"identifier":"5a975280-c2b6-3cb7-bb17-e96096a484e6","instanceIdentifier":"4e7577cc-7f39-367f-820a-655678c5b94d","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"350b9010-0d1d-3ebd-8458-0dc81c34d9be"}],"variables":{},"parameterContextName":"parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"parameters":{"name":"parameters","parameters":[{"name":"Schema Write Strategy","description":"","sensitive":false,"provided":false,"value":"hwx-content-encoded-schema"},{"name":"kafkabrokers","description":"","sensitive":false,"provided":false,"value":"kafka-marion-corebroker0.se-sandb.a465-9q4k.cloudera.site:9093,kafka-marion-corebroker1.se-sandb.a465-9q4k.cloudera.site:9093,kafka-marion-corebroker2.se-sandb.a465-9q4k.cloudera.site:9093"},{"name":"Topic Name","description":"","sensitive":false,"provided":false,"value":"telco_data"},{"name":"schema.name","description":"","sensitive":false,"provided":false,"value":"telcoschema"},{"name":"CDPEnvironment","description":"","sensitive":false,"provided":false,"value":"/home/nifi/additional/secret/env_config/core-site.xml,/home/nifi/additional/secret/env_config/ssl-client.xml,/home/nifi/additional/secret/env_config/hive-site.xml"},{"name":"schemaurl","description":"","sensitive":false,"provided":false,"value":"https://csrsmlddh-master0.se-sandb.a465-9q4k.cloudera.site:7790/api/v1"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}