resources/s3_to_kafka.json
{"flowContents":{"identifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653","instanceIdentifier":"054fc90a-018b-1000-0000-00007b264690","name":"processGroup","comments":"","position":{"x":1224.0,"y":304.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"10aad048-0424-3924-b729-f8c44088ad43","instanceIdentifier":"f7cc0e5c-17fb-3b5b-b9f2-fa3eee853838","name":"SplitJson","comments":"","position":{"x":1204.5000045184045,"y":686.5000114299831},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.[*]"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653"},{"identifier":"036a18b1-e27a-34d0-93d9-5d5f0c05d7ff","instanceIdentifier":"ff48a9d5-5294-3262-8ea1-aa3b76ff6d34","name":"atrributes_to_content","comments":"","position":{"x":1204.5000045184045,"y":294.50001142998315},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"true","Attributes List":"customerid, churn, monthlycharges, totalcharges, tenure, gender, dependents, onlinesecurity, multiplelines, internetservice, seniorcitizen, techsupport, contract, streamingmovies, deviceprotection, paymentmethod, streamingtv, phoneservice, paperlessbilling, partner, onlinebackup","Include Core Attributes":"false"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653"},{"identifier":"772565c9-c81a-3d6f-92c2-0cf9db8fb45d","instanceIdentifier":"fe0136dc-b83e-3e4b-a742-d61dab6c7cff","name":"Fetch_from_S3","comments":"","position":{"x":584.0,"y":488.0},"type":"org.apache.nifi.processors.hadoop.FetchHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"HDFS Filename":"s3a://#{Source S3 Bucket}/data/WA_Fn-UseC_-Telco-Customer-Churn-new.csv","Hadoop Configuration Resources":"#{CDPEnvironment}","kerberos-credentials-service":null,"Kerberos Password":"#{CDP Workload Password}","Kerberos Keytab":null,"Additional Classpath Resources":null,"Kerberos Principal":"#{CDP Workload User}","Compression codec":"NONE","kerberos-user-service":null,"Kerberos Relogin Period":"4 hours"},"propertyDescriptors":{"HDFS Filename":{"name":"HDFS Filename","displayName":"HDFS Filename","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["comms.failure","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653"},{"identifier":"61453945-2a16-3373-91a2-c5c95f933b13","instanceIdentifier":"8eaec008-cd9f-37ac-bef8-c216b27cbefb","name":"data_into_attributes","comments":"","position":{"x":1208.0,"y":496.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"multiplelines":"$.[\"MultipleLines\"]","Destination":"flowfile-attribute","gender":"$.[\"gender\"]","onlinesecurity":"$.[\"OnlineSecurity\"]","techsupport":"$.[\"TechSupport\"]","churn":"$.[\"Churn\"]","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","streamingmovies":"$.[\"StreamingMovies\"]","totalcharges":"$.[\"TotalCharges\"]","tenure":"$.[\"tenure\"]","paperlessbilling":"$.[\"PaperlessBilling\"]","internetservice":"$.[\"InternetService\"]","Return Type":"auto-detect","contract":"$.[\"Contract\"]","seniorcitizen":"$.[\"SeniorCitizen\"]","deviceprotection":"$.[\"DeviceProtection\"]","streamingtv":"$.[\"StreamingTV\"]","partner":"$.[\"Partner\"]","monthlycharges":"$.[\"MonthlyCharges\"]","customerid":"$.[\"customerID\"]","dependents":"$.[\"Dependents\"]","onlinebackup":"$.[\"OnlineBackup\"]","phoneservice":"$.[\"PhoneService\"]","paymentmethod":"$.[\"PaymentMethod\"]"},"propertyDescriptors":{"multiplelines":{"name":"multiplelines","displayName":"multiplelines","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"gender":{"name":"gender","displayName":"gender","identifiesControllerService":false,"sensitive":false},"onlinesecurity":{"name":"onlinesecurity","displayName":"onlinesecurity","identifiesControllerService":false,"sensitive":false},"techsupport":{"name":"techsupport","displayName":"techsupport","identifiesControllerService":false,"sensitive":false},"churn":{"name":"churn","displayName":"churn","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"streamingmovies":{"name":"streamingmovies","displayName":"streamingmovies","identifiesControllerService":false,"sensitive":false},"totalcharges":{"name":"totalcharges","displayName":"totalcharges","identifiesControllerService":false,"sensitive":false},"tenure":{"name":"tenure","displayName":"tenure","identifiesControllerService":false,"sensitive":false},"paperlessbilling":{"name":"paperlessbilling","displayName":"paperlessbilling","identifiesControllerService":false,"sensitive":false},"internetservice":{"name":"internetservice","displayName":"internetservice","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"contract":{"name":"contract","displayName":"contract","identifiesControllerService":false,"sensitive":false},"seniorcitizen":{"name":"seniorcitizen","displayName":"seniorcitizen","identifiesControllerService":false,"sensitive":false},"deviceprotection":{"name":"deviceprotection","displayName":"deviceprotection","identifiesControllerService":false,"sensitive":false},"streamingtv":{"name":"streamingtv","displayName":"streamingtv","identifiesControllerService":false,"sensitive":false},"partner":{"name":"partner","displayName":"partner","identifiesControllerService":false,"sensitive":false},"monthlycharges":{"name":"monthlycharges","displayName":"monthlycharges","identifiesControllerService":false,"sensitive":false},"customerid":{"name":"customerid","displayName":"customerid","identifiesControllerService":false,"sensitive":false},"dependents":{"name":"dependents","displayName":"dependents","identifiesControllerService":false,"sensitive":false},"onlinebackup":{"name":"onlinebackup","displayName":"onlinebackup","identifiesControllerService":false,"sensitive":false},"phoneservice":{"name":"phoneservice","displayName":"phoneservice","identifiesControllerService":false,"sensitive":false},"paymentmethod":{"name":"paymentmethod","displayName":"paymentmethod","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653"},{"identifier":"dbb92b5f-6a55-3f36-a622-79c695ca1273","instanceIdentifier":"9051e391-2606-34fc-b13e-b57d26ed394b","name":"Publish_Kafka_Topic","comments":"","position":{"x":1832.0,"y":480.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"e87cdad5-6f8d-324b-a905-fbbd4a91b2ce","bootstrap.servers":"#{kafkabrokers}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"sasl.mechanism":"PLAIN","max.block.ms":"15 sec","record-reader":"5a975280-c2b6-3cb7-bb17-e96096a484e6","message-header-encoding":"UTF-8","transactional-id-prefix":null,"ack.wait.time":"15 secs","sasl.username":"#{CDP Workload User}","use-transactions":"false","acks":"0","aws.profile.name":null,"security.protocol":"SASL_SSL","ssl.context.service":"fc63fbc1-a212-35c5-8698-031cedc6ab06","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"#{Topic Name}","sasl.password":"#{CDP Workload Password}"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653"},{"identifier":"87b7ac0b-1a28-3bb7-9a53-2552bfd23620","instanceIdentifier":"2967df2f-b91f-3300-9017-5e1b6139d202","name":"CSV_to_JSON","comments":"","position":{"x":576.0,"y":680.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"record-writer":"e87cdad5-6f8d-324b-a905-fbbd4a91b2ce","record-reader":"8f99df06-88c9-339b-b8c3-1d62ca0e6821","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653"},{"identifier":"e73c0886-3493-32ac-98b0-596d5cc1cb70","instanceIdentifier":"26f7b943-ce76-3e7b-8cb0-239ed7a115db","name":"GenerateFlowFile","comments":"","position":{"x":580.5000045184045,"y":302.50001142998315},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"true","timebase":"1591142400","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"timebase":{"name":"timebase","displayName":"timebase","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1000 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"19ebff6e-a8af-399e-93fd-de2e0edeaf5f","instanceIdentifier":"367977ad-cd77-3e98-83a2-a707ee28eeb7","name":"","source":{"id":"61453945-2a16-3373-91a2-c5c95f933b13","type":"PROCESSOR","groupId":"86e00d5f-04ad-3559-b9d7-5d7f4908e653","name":"data_into_attributes","comments":"","instanceIdentifier":"8eaec008-cd9f-37ac-bef8-c216b27cbefb"},"destination":{"id":"036a18b1-e27a-34d0-93d9-5d5f0c05d7ff","type":"PROCESSOR","groupId":"86e00d5f-04ad-3559-b9d7-5d7f4908e653","name":"atrributes_to_content","comments":"","instanceIdentifier":"ff48a9d5-5294-3262-8ea1-aa3b76ff6d34"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653"},{"identifier":"f2bee950-9800-37d3-ad27-77fb0634daa0","instanceIdentifier":"a54da181-cadd-36f6-9091-c9de790f5833","name":"","source":{"id":"772565c9-c81a-3d6f-92c2-0cf9db8fb45d","type":"PROCESSOR","groupId":"86e00d5f-04ad-3559-b9d7-5d7f4908e653","name":"Fetch_from_S3","comments":"","instanceIdentifier":"fe0136dc-b83e-3e4b-a742-d61dab6c7cff"},"destination":{"id":"87b7ac0b-1a28-3bb7-9a53-2552bfd23620","type":"PROCESSOR","groupId":"86e00d5f-04ad-3559-b9d7-5d7f4908e653","name":"CSV_to_JSON","comments":"","instanceIdentifier":"2967df2f-b91f-3300-9017-5e1b6139d202"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653"},{"identifier":"3f46a42f-fc2d-357b-8514-d76ea240da6d","instanceIdentifier":"616425b1-419d-3a6e-a765-17cffdb7eb81","name":"","source":{"id":"dbb92b5f-6a55-3f36-a622-79c695ca1273","type":"PROCESSOR","groupId":"86e00d5f-04ad-3559-b9d7-5d7f4908e653","name":"Publish_Kafka_Topic","comments":"","instanceIdentifier":"9051e391-2606-34fc-b13e-b57d26ed394b"},"destination":{"id":"e5462671-28a4-3e7f-a878-61b333c82fcf","type":"FUNNEL","groupId":"86e00d5f-04ad-3559-b9d7-5d7f4908e653","name":"Funnel","comments":"","instanceIdentifier":"f807dc6e-268e-3304-8871-8f1613d35017"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653"},{"identifier":"b55b475a-49f0-3db7-a6f3-8933f60107c2","instanceIdentifier":"f48ca0b9-e2f5-31bf-b03f-86124b613ef6","name":"","source":{"id":"dbb92b5f-6a55-3f36-a622-79c695ca1273","type":"PROCESSOR","groupId":"86e00d5f-04ad-3559-b9d7-5d7f4908e653","name":"Publish_Kafka_Topic","comments":"","instanceIdentifier":"9051e391-2606-34fc-b13e-b57d26ed394b"},"destination":{"id":"65f935ba-e889-35cc-bd0d-cfe603de5e15","type":"FUNNEL","groupId":"86e00d5f-04ad-3559-b9d7-5d7f4908e653","name":"Funnel","comments":"","instanceIdentifier":"4bf1f91e-af2a-38a5-a2e9-b016809ae7cc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653"},{"identifier":"05a895b0-6e82-3474-8089-571b0ee69ac7","instanceIdentifier":"6394ede2-b710-331f-a38d-2f607ba193e3","name":"","source":{"id":"e73c0886-3493-32ac-98b0-596d5cc1cb70","type":"PROCESSOR","groupId":"86e00d5f-04ad-3559-b9d7-5d7f4908e653","name":"GenerateFlowFile","comments":"","instanceIdentifier":"26f7b943-ce76-3e7b-8cb0-239ed7a115db"},"destination":{"id":"772565c9-c81a-3d6f-92c2-0cf9db8fb45d","type":"PROCESSOR","groupId":"86e00d5f-04ad-3559-b9d7-5d7f4908e653","name":"Fetch_from_S3","comments":"","instanceIdentifier":"fe0136dc-b83e-3e4b-a742-d61dab6c7cff"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653"},{"identifier":"4917e3c1-175a-3bf9-823a-b492a7ccb065","instanceIdentifier":"45cbb150-26b8-3e68-9cd2-9cbfe93e23d5","name":"","source":{"id":"87b7ac0b-1a28-3bb7-9a53-2552bfd23620","type":"PROCESSOR","groupId":"86e00d5f-04ad-3559-b9d7-5d7f4908e653","name":"CSV_to_JSON","comments":"","instanceIdentifier":"2967df2f-b91f-3300-9017-5e1b6139d202"},"destination":{"id":"10aad048-0424-3924-b729-f8c44088ad43","type":"PROCESSOR","groupId":"86e00d5f-04ad-3559-b9d7-5d7f4908e653","name":"SplitJson","comments":"","instanceIdentifier":"f7cc0e5c-17fb-3b5b-b9f2-fa3eee853838"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653"},{"identifier":"c36d0276-1243-3369-8e9b-57eddeb323db","instanceIdentifier":"85bd84b5-9a43-3d9f-a6af-6ae445834a3f","name":"","source":{"id":"036a18b1-e27a-34d0-93d9-5d5f0c05d7ff","type":"PROCESSOR","groupId":"86e00d5f-04ad-3559-b9d7-5d7f4908e653","name":"atrributes_to_content","comments":"","instanceIdentifier":"ff48a9d5-5294-3262-8ea1-aa3b76ff6d34"},"destination":{"id":"dbb92b5f-6a55-3f36-a622-79c695ca1273","type":"PROCESSOR","groupId":"86e00d5f-04ad-3559-b9d7-5d7f4908e653","name":"Publish_Kafka_Topic","comments":"","instanceIdentifier":"9051e391-2606-34fc-b13e-b57d26ed394b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653"},{"identifier":"6e25f7bb-fe7b-3b51-8bf3-af566741eca7","instanceIdentifier":"58a005b1-7c00-3d9b-a4b5-f91e84329244","name":"","source":{"id":"10aad048-0424-3924-b729-f8c44088ad43","type":"PROCESSOR","groupId":"86e00d5f-04ad-3559-b9d7-5d7f4908e653","name":"SplitJson","comments":"","instanceIdentifier":"f7cc0e5c-17fb-3b5b-b9f2-fa3eee853838"},"destination":{"id":"61453945-2a16-3373-91a2-c5c95f933b13","type":"PROCESSOR","groupId":"86e00d5f-04ad-3559-b9d7-5d7f4908e653","name":"data_into_attributes","comments":"","instanceIdentifier":"8eaec008-cd9f-37ac-bef8-c216b27cbefb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653"}],"labels":[{"identifier":"99ccd4d6-c26e-34c6-87a4-6e865770b872","instanceIdentifier":"2173dda3-fb59-352b-a06d-1a0bac64a518","position":{"x":1736.0,"y":272.0},"label":"Publish to Kafka Topic","zIndex":0,"width":792.0,"height":544.0,"style":{"background-color":"#ffe3b0","font-size":"20px"},"componentType":"LABEL","groupIdentifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653"},{"identifier":"82b5f9d3-bf34-3838-8a3d-47a1810947a7","instanceIdentifier":"42583eaf-7af0-337b-a1d9-79251741b76f","position":{"x":504.0,"y":240.0},"label":"Pull Data from S3 and Format for Kafka","zIndex":0,"width":1112.0,"height":624.0,"style":{"background-color":"#ffe3b0","font-size":"20px"},"componentType":"LABEL","groupIdentifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653"}],"funnels":[{"identifier":"65f935ba-e889-35cc-bd0d-cfe603de5e15","instanceIdentifier":"4bf1f91e-af2a-38a5-a2e9-b016809ae7cc","position":{"x":2416.0,"y":712.0},"componentType":"FUNNEL","groupIdentifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653"},{"identifier":"e5462671-28a4-3e7f-a878-61b333c82fcf","instanceIdentifier":"f807dc6e-268e-3304-8871-8f1613d35017","position":{"x":2416.0,"y":368.0},"componentType":"FUNNEL","groupIdentifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653"}],"controllerServices":[{"identifier":"e87cdad5-6f8d-324b-a905-fbbd4a91b2ce","instanceIdentifier":"fa330b7a-1182-3266-a8f8-80b2ff6cb1f1","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653"},{"identifier":"8f99df06-88c9-339b-b8c3-1d62ca0e6821","instanceIdentifier":"dbedda8d-d162-3c3d-a2d8-ea6ef849f6d8","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":";","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653"},{"identifier":"5a975280-c2b6-3cb7-bb17-e96096a484e6","instanceIdentifier":"9ac015c8-3b93-3f1a-8a75-018a924dcb43","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"86e00d5f-04ad-3559-b9d7-5d7f4908e653"},{"identifier":"fc63fbc1-a212-35c5-8698-031cedc6ab06","instanceIdentifier":"054fc796-018b-1000-ffff-fffff0b5650d","name":"Default NiFi SSL Context Service","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.21.0.2.3.9.0-24"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/home/nifi/additional/secret/ssl_truststore/ssl-truststore.jks","Keystore Filename":"/home/nifi/additional/secret/ssl_keystore/ssl-keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.3.9.0-24"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"054fc90a-018b-1000-0000-00007b264690"}],"variables":{},"parameterContextName":"parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"parameters":{"name":"parameters","parameters":[{"name":"CDP Workload User","description":"","sensitive":false,"provided":false,"value":"amallegni"},{"name":"kafkabrokers","description":"","sensitive":false,"provided":false,"value":"italy-hol-kafka-corebroker2.italy-ho.a465-9q4k.cloudera.site:9093, italy-hol-kafka-corebroker1.italy-ho.a465-9q4k.cloudera.site:9093, italy-hol-kafka-corebroker0.italy-ho.a465-9q4k.cloudera.site:9093"},{"name":"Topic Name","description":"","sensitive":false,"provided":false,"value":"telco_data_v2"},{"name":"Source S3 Bucket","description":"Name of the bucket where the input file is located (Note: /data will be appended to this value, so the input file should be located in s3a://[Source S3 Bucket]/data).","sensitive":false,"provided":false,"value":"italy-hol"},{"name":"CDP Workload Password","description":"","sensitive":true,"provided":false},{"name":"CDPEnvironment","description":"","sensitive":false,"provided":false,"value":"/home/nifi/additional/secret/env_config/core-site.xml,/home/nifi/additional/secret/env_config/ssl-client.xml,/home/nifi/additional/secret/env_config/hive-site.xml"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}
