resources/s3_to_kafka.json
{"flowContents":{"identifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7","instanceIdentifier":"9227bbac-0186-1000-ffff-ffff9b940137","name":"processGroup","comments":"","position":{"x":936.0,"y":168.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"10aad048-0424-3924-b729-f8c44088ad43","instanceIdentifier":"2abe9d5e-14d6-324e-a53d-deb14dcb2b0a","name":"SplitJson","comments":"","position":{"x":1204.5000045184045,"y":686.5000114299831},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.[*]"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"036a18b1-e27a-34d0-93d9-5d5f0c05d7ff","instanceIdentifier":"28503273-31c4-3dff-b3e3-7e0582875f8d","name":"atrributes_to_content","comments":"","position":{"x":1204.5000045184045,"y":294.50001142998315},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"true","Attributes List":"customerid, churn, monthlycharges, totalcharges, tenure, gender, dependents, onlinesecurity, multiplelines, internetservice, seniorcitizen, techsupport, contract, streamingmovies, deviceprotection, paymentmethod, streamingtv, phoneservice, paperlessbilling, partner, onlinebackup","Include Core Attributes":"false"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"772565c9-c81a-3d6f-92c2-0cf9db8fb45d","instanceIdentifier":"ba2c5d79-7610-3639-93c5-4a154e04b8b7","name":"Fetch_from_S3","comments":"","position":{"x":584.0,"y":488.0},"type":"org.apache.nifi.processors.hadoop.FetchHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"HDFS Filename":"s3a://goes-se-sandbox01/datalake/data/churn/WA_Fn-UseC_-Telco-Customer-Churn-.csv","Hadoop Configuration Resources":"#{CDPEnvironment}","kerberos-credentials-service":null,"Kerberos Keytab":null,"Additional Classpath Resources":null,"Kerberos Principal":"acampos","Compression codec":"NONE","kerberos-user-service":null,"Kerberos Relogin Period":"4 hours"},"propertyDescriptors":{"HDFS Filename":{"name":"HDFS Filename","displayName":"HDFS Filename","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["comms.failure","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"61453945-2a16-3373-91a2-c5c95f933b13","instanceIdentifier":"6f8dacfb-9836-3a4b-bc20-0e0f84ff3d57","name":"data_into_attributes","comments":"","position":{"x":1208.0,"y":496.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"multiplelines":"$.[\"MultipleLines\"]","Destination":"flowfile-attribute","gender":"$.[\"gender\"]","onlinesecurity":"$.[\"OnlineSecurity\"]","techsupport":"$.[\"TechSupport\"]","churn":"$.[\"Churn\"]","Null Value Representation":"empty string","Path Not Found Behavior":"ignore","streamingmovies":"$.[\"StreamingMovies\"]","totalcharges":"$.[\"TotalCharges\"]","tenure":"$.[\"tenure\"]","paperlessbilling":"$.[\"PaperlessBilling\"]","internetservice":"$.[\"InternetService\"]","Return Type":"auto-detect","contract":"$.[\"Contract\"]","seniorcitizen":"$.[\"SeniorCitizen\"]","deviceprotection":"$.[\"DeviceProtection\"]","streamingtv":"$.[\"StreamingTV\"]","partner":"$.[\"Partner\"]","monthlycharges":"$.[\"MonthlyCharges\"]","customerid":"$.[\"customerID\"]","dependents":"$.[\"Dependents\"]","onlinebackup":"$.[\"OnlineBackup\"]","phoneservice":"$.[\"PhoneService\"]","paymentmethod":"$.[\"PaymentMethod\"]"},"propertyDescriptors":{"multiplelines":{"name":"multiplelines","displayName":"multiplelines","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"gender":{"name":"gender","displayName":"gender","identifiesControllerService":false,"sensitive":false},"onlinesecurity":{"name":"onlinesecurity","displayName":"onlinesecurity","identifiesControllerService":false,"sensitive":false},"techsupport":{"name":"techsupport","displayName":"techsupport","identifiesControllerService":false,"sensitive":false},"churn":{"name":"churn","displayName":"churn","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"streamingmovies":{"name":"streamingmovies","displayName":"streamingmovies","identifiesControllerService":false,"sensitive":false},"totalcharges":{"name":"totalcharges","displayName":"totalcharges","identifiesControllerService":false,"sensitive":false},"tenure":{"name":"tenure","displayName":"tenure","identifiesControllerService":false,"sensitive":false},"paperlessbilling":{"name":"paperlessbilling","displayName":"paperlessbilling","identifiesControllerService":false,"sensitive":false},"internetservice":{"name":"internetservice","displayName":"internetservice","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"contract":{"name":"contract","displayName":"contract","identifiesControllerService":false,"sensitive":false},"seniorcitizen":{"name":"seniorcitizen","displayName":"seniorcitizen","identifiesControllerService":false,"sensitive":false},"deviceprotection":{"name":"deviceprotection","displayName":"deviceprotection","identifiesControllerService":false,"sensitive":false},"streamingtv":{"name":"streamingtv","displayName":"streamingtv","identifiesControllerService":false,"sensitive":false},"partner":{"name":"partner","displayName":"partner","identifiesControllerService":false,"sensitive":false},"monthlycharges":{"name":"monthlycharges","displayName":"monthlycharges","identifiesControllerService":false,"sensitive":false},"customerid":{"name":"customerid","displayName":"customerid","identifiesControllerService":false,"sensitive":false},"dependents":{"name":"dependents","displayName":"dependents","identifiesControllerService":false,"sensitive":false},"onlinebackup":{"name":"onlinebackup","displayName":"onlinebackup","identifiesControllerService":false,"sensitive":false},"phoneservice":{"name":"phoneservice","displayName":"phoneservice","identifiesControllerService":false,"sensitive":false},"paymentmethod":{"name":"paymentmethod","displayName":"paymentmethod","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"dbb92b5f-6a55-3f36-a622-79c695ca1273","instanceIdentifier":"0d4e4bdc-8b0d-390d-96c8-fc4c4222958b","name":"Publish_Kafka_Topic","comments":"","position":{"x":1832.0,"y":480.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"30cbc365-6fac-3d09-aa13-085c2a05949a","bootstrap.servers":"#{kafkabrokers}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"sasl.mechanism":"PLAIN","max.block.ms":"15 sec","record-reader":"5a975280-c2b6-3cb7-bb17-e96096a484e6","message-header-encoding":"UTF-8","transactional-id-prefix":null,"ack.wait.time":"15 secs","sasl.username":"acampos","use-transactions":"false","acks":"0","security.protocol":"SASL_SSL","ssl.context.service":"daf0323f-a438-3091-8d79-5e63b3bd5a5e","max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"telco_avro"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"87b7ac0b-1a28-3bb7-9a53-2552bfd23620","instanceIdentifier":"0922ad5c-ec88-39ca-b95c-9ccafd4f824c","name":"CSV_to_JSON","comments":"","position":{"x":576.0,"y":680.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"record-writer":"e87cdad5-6f8d-324b-a905-fbbd4a91b2ce","record-reader":"8f99df06-88c9-339b-b8c3-1d62ca0e6821","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"e73c0886-3493-32ac-98b0-596d5cc1cb70","instanceIdentifier":"23612619-a638-3dfc-8d00-be1735c1741f","name":"GenerateFlowFile","comments":"","position":{"x":580.5000045184045,"y":302.50001142998315},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"true","timebase":"1591142400","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"timebase":{"name":"timebase","displayName":"timebase","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1000 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f2bee950-9800-37d3-ad27-77fb0634daa0","instanceIdentifier":"f7c5da23-b9e1-3426-921a-6ad4829c824b","name":"","source":{"id":"772565c9-c81a-3d6f-92c2-0cf9db8fb45d","type":"PROCESSOR","groupId":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7","name":"Fetch_from_S3","comments":"","instanceIdentifier":"ba2c5d79-7610-3639-93c5-4a154e04b8b7"},"destination":{"id":"87b7ac0b-1a28-3bb7-9a53-2552bfd23620","type":"PROCESSOR","groupId":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7","name":"CSV_to_JSON","comments":"","instanceIdentifier":"0922ad5c-ec88-39ca-b95c-9ccafd4f824c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"19ebff6e-a8af-399e-93fd-de2e0edeaf5f","instanceIdentifier":"4c23b4c7-d2c9-30e3-878c-dde52d00060b","name":"","source":{"id":"61453945-2a16-3373-91a2-c5c95f933b13","type":"PROCESSOR","groupId":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7","name":"data_into_attributes","comments":"","instanceIdentifier":"6f8dacfb-9836-3a4b-bc20-0e0f84ff3d57"},"destination":{"id":"036a18b1-e27a-34d0-93d9-5d5f0c05d7ff","type":"PROCESSOR","groupId":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7","name":"atrributes_to_content","comments":"","instanceIdentifier":"28503273-31c4-3dff-b3e3-7e0582875f8d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"3f46a42f-fc2d-357b-8514-d76ea240da6d","instanceIdentifier":"130cb154-a7a6-3f21-aef0-ae31cb5e4f88","name":"","source":{"id":"dbb92b5f-6a55-3f36-a622-79c695ca1273","type":"PROCESSOR","groupId":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7","name":"Publish_Kafka_Topic","comments":"","instanceIdentifier":"0d4e4bdc-8b0d-390d-96c8-fc4c4222958b"},"destination":{"id":"e5462671-28a4-3e7f-a878-61b333c82fcf","type":"FUNNEL","groupId":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7","name":"Funnel","comments":"","instanceIdentifier":"f698dd73-f60b-3914-aace-d32a076a3c37"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"05a895b0-6e82-3474-8089-571b0ee69ac7","instanceIdentifier":"0c8b54ad-c1af-3453-894d-9970f91503a3","name":"","source":{"id":"e73c0886-3493-32ac-98b0-596d5cc1cb70","type":"PROCESSOR","groupId":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7","name":"GenerateFlowFile","comments":"","instanceIdentifier":"23612619-a638-3dfc-8d00-be1735c1741f"},"destination":{"id":"772565c9-c81a-3d6f-92c2-0cf9db8fb45d","type":"PROCESSOR","groupId":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7","name":"Fetch_from_S3","comments":"","instanceIdentifier":"ba2c5d79-7610-3639-93c5-4a154e04b8b7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"b55b475a-49f0-3db7-a6f3-8933f60107c2","instanceIdentifier":"3ebb3af6-9c6d-389d-9377-4026dd3c0f7d","name":"","source":{"id":"dbb92b5f-6a55-3f36-a622-79c695ca1273","type":"PROCESSOR","groupId":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7","name":"Publish_Kafka_Topic","comments":"","instanceIdentifier":"0d4e4bdc-8b0d-390d-96c8-fc4c4222958b"},"destination":{"id":"65f935ba-e889-35cc-bd0d-cfe603de5e15","type":"FUNNEL","groupId":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7","name":"Funnel","comments":"","instanceIdentifier":"64e14267-bb9e-3090-9431-73aaf9ff85a5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"4917e3c1-175a-3bf9-823a-b492a7ccb065","instanceIdentifier":"2964adb0-2775-375b-99f4-b9f2c6b9e6ff","name":"","source":{"id":"87b7ac0b-1a28-3bb7-9a53-2552bfd23620","type":"PROCESSOR","groupId":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7","name":"CSV_to_JSON","comments":"","instanceIdentifier":"0922ad5c-ec88-39ca-b95c-9ccafd4f824c"},"destination":{"id":"10aad048-0424-3924-b729-f8c44088ad43","type":"PROCESSOR","groupId":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7","name":"SplitJson","comments":"","instanceIdentifier":"2abe9d5e-14d6-324e-a53d-deb14dcb2b0a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"c36d0276-1243-3369-8e9b-57eddeb323db","instanceIdentifier":"923c51df-0186-1000-ffff-ffffde2b73ac","name":"","source":{"id":"036a18b1-e27a-34d0-93d9-5d5f0c05d7ff","type":"PROCESSOR","groupId":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7","name":"atrributes_to_content","comments":"","instanceIdentifier":"28503273-31c4-3dff-b3e3-7e0582875f8d"},"destination":{"id":"dbb92b5f-6a55-3f36-a622-79c695ca1273","type":"PROCESSOR","groupId":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7","name":"Publish_Kafka_Topic","comments":"","instanceIdentifier":"0d4e4bdc-8b0d-390d-96c8-fc4c4222958b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"6e25f7bb-fe7b-3b51-8bf3-af566741eca7","instanceIdentifier":"8d46223e-87ff-3bd7-86b0-480a47f37ef0","name":"","source":{"id":"10aad048-0424-3924-b729-f8c44088ad43","type":"PROCESSOR","groupId":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7","name":"SplitJson","comments":"","instanceIdentifier":"2abe9d5e-14d6-324e-a53d-deb14dcb2b0a"},"destination":{"id":"61453945-2a16-3373-91a2-c5c95f933b13","type":"PROCESSOR","groupId":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7","name":"data_into_attributes","comments":"","instanceIdentifier":"6f8dacfb-9836-3a4b-bc20-0e0f84ff3d57"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"}],"labels":[{"identifier":"99ccd4d6-c26e-34c6-87a4-6e865770b872","instanceIdentifier":"799fab19-40f2-3bbd-8484-3311096da600","position":{"x":1736.0,"y":272.0},"label":"Publish to Kafka Topic","zIndex":0,"width":792.0,"height":544.0,"style":{"background-color":"#ffe3b0","font-size":"20px"},"componentType":"LABEL","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"82b5f9d3-bf34-3838-8a3d-47a1810947a7","instanceIdentifier":"c6bd0a18-ef29-3725-9cf3-49f43932bacd","position":{"x":504.0,"y":240.0},"label":"Pull Data from S3 and Format for Kafka","zIndex":0,"width":1112.0,"height":624.0,"style":{"background-color":"#ffe3b0","font-size":"20px"},"componentType":"LABEL","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"}],"funnels":[{"identifier":"65f935ba-e889-35cc-bd0d-cfe603de5e15","instanceIdentifier":"64e14267-bb9e-3090-9431-73aaf9ff85a5","position":{"x":2416.0,"y":712.0},"componentType":"FUNNEL","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"e5462671-28a4-3e7f-a878-61b333c82fcf","instanceIdentifier":"f698dd73-f60b-3914-aace-d32a076a3c37","position":{"x":2416.0,"y":368.0},"componentType":"FUNNEL","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"}],"controllerServices":[{"identifier":"e87cdad5-6f8d-324b-a905-fbbd4a91b2ce","instanceIdentifier":"c2a403d7-fec3-3b31-a929-4dd84baccb27","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.3.7.3-1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"30cbc365-6fac-3d09-aa13-085c2a05949a","instanceIdentifier":"92a98936-0186-1000-ffff-ffffd0437613","name":"AvroRecordSetWriter-noschema","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.3.7.3-1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"f304aaf9-3033-3ccb-8c62-8e8c36022a5d","instanceIdentifier":"9248967b-0186-1000-0000-000041d93def","name":"HiveCatalogService","comments":"","type":"org.apache.nifi.services.iceberg.HiveCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"hadoop-config-resources":"#{CDPEnvironment}","warehouse-location":null,"hive-metastore-uri":null},"propertyDescriptors":{"hadoop-config-resources":{"name":"hadoop-config-resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"warehouse-location":{"name":"warehouse-location","displayName":"Default Warehouse Location","identifiesControllerService":false,"sensitive":false},"hive-metastore-uri":{"name":"hive-metastore-uri","displayName":"Hive Metastore URI","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.services.iceberg.IcebergCatalogService","bundle":{"group":"org.apache.nifi","artifact":"nifi-iceberg-services-api-nar","version":"1.18.0.2.3.7.3-1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"18cfc9b6-c1b0-3b39-9eb8-319e41719bc6","instanceIdentifier":"924afe1d-0186-1000-ffff-ffffa9136750","name":"KerberosPasswordUserService","comments":"","type":"org.apache.nifi.kerberos.KerberosPasswordUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-user-service-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"Kerberos Principal":"acampos"},"propertyDescriptors":{"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.3.7.3-1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"1583144a-5dd3-3513-81e6-d4af95eb91dc","instanceIdentifier":"2d66e505-8b56-37a6-8158-c1397091e905","name":"JsonRecordSetWriterSchema","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"hwx-schema-ref-attributes","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"#{schema.name}","schema-registry":"19dd2261-ee4a-3e5d-a294-31bfc55f09ab","Time Format":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.3.7.3-1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"8196da52-e6f9-3c87-97c3-43e23f25921a","instanceIdentifier":"927f6977-0186-1000-ffff-ffffbcc075f9","name":"AvroReader","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.3.7.3-1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"d677836b-b1fd-3336-8799-df4e97f97534","instanceIdentifier":"37658071-5e9f-3128-bf79-36947060b275","name":"AvroRecordSetWriter","comments":"","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"hwx-content-encoded-schema","schema-branch":null,"schema-name":"#{schema.name}","cache-size":"1000","schema-registry":"19dd2261-ee4a-3e5d-a294-31bfc55f09ab","schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.3.7.3-1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"8191b5ab-fe64-3627-810a-cf898ac2fc22","instanceIdentifier":"92a95990-0186-1000-0000-00002db95080","name":"AvroRecordSetWriter","type":"org.apache.nifi.avro.AvroRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"compression-format":"NONE","Schema Write Strategy":"avro-embedded","schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"encoder-pool-size":"32","schema-cache":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"encoder-pool-size":{"name":"encoder-pool-size","displayName":"Encoder Pool Size","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.3.7.3-1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"0177990f-94a8-3235-a4a4-77c58f8f8121","instanceIdentifier":"8878d757-8786-3e9b-af88-761665a865da","name":"JsonTreeReader - with schema identifier","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"#{schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":"19dd2261-ee4a-3e5d-a294-31bfc55f09ab","starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.3.7.3-1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"8f99df06-88c9-339b-b8c3-1d62ca0e6821","instanceIdentifier":"16633ced-40bf-347f-871c-a7fe7d1b3ece","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.3.7.3-1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"5a975280-c2b6-3cb7-bb17-e96096a484e6","instanceIdentifier":"c6faaa97-548a-359a-bf52-a18a85975974","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.3.7.3-1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"19dd2261-ee4a-3e5d-a294-31bfc55f09ab","instanceIdentifier":"6e31bec8-0f88-33d5-a2b7-bc60e70e3218","name":"HortonworksSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-hwx-schema-registry-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"cache-expiration":"1 hour","kerberos-credentials-service":null,"ssl-context-service":"daf0323f-a438-3091-8d79-5e63b3bd5a5e","cache-size":"1000","kerberos-principal":null,"basic-auth-username":"acampos","url":"#{schemaurl}"},"propertyDescriptors":{"cache-expiration":{"name":"cache-expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"basic-auth-password":{"name":"basic-auth-password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"basic-auth-username":{"name":"basic-auth-username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"url":{"name":"url","displayName":"Schema Registry URL","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.3.7.3-1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"bf1d8c4e-5daf-31f6-9a88-4c4e69de96e7"},{"identifier":"daf0323f-a438-3091-8d79-5e63b3bd5a5e","instanceIdentifier":"9227ba51-0186-1000-0000-000049766518","name":"Default NiFi SSL Context Service","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.18.0.2.3.7.3-1"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/home/nifi/additional/secret/ssl_truststore/ssl-truststore.jks","Keystore Filename":"/home/nifi/additional/secret/ssl_keystore/ssl-keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.3.7.3-1"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0.2.3.7.3-1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9227bbac-0186-1000-ffff-ffff9b940137"}],"variables":{},"parameterContextName":"parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"parameters":{"name":"parameters","parameters":[{"name":"Schema Write Strategy","description":"","sensitive":false,"provided":false,"value":"hwx-content-encoded-schema"},{"name":"kafkabrokers","description":"","sensitive":false,"provided":false,"value":"csrsmlddh-corebroker1.se-sandb.a465-9q4k.cloudera.site:9093,csrsmlddh-corebroker0.se-sandb.a465-9q4k.cloudera.site:9093,csrsmlddh-corebroker2.se-sandb.a465-9q4k.cloudera.site:9093"},{"name":"Topic Name","description":"","sensitive":false,"provided":false,"value":"telcodata_alex"},{"name":"schema.name","description":"","sensitive":false,"provided":false,"value":"telcoschema"},{"name":"CDPEnvironment","description":"","sensitive":false,"provided":false,"value":"/home/nifi/additional/secret/env_config/core-site.xml,/home/nifi/additional/secret/env_config/ssl-client.xml,/home/nifi/additional/secret/env_config/hive-site.xml"},{"name":"schemaurl","description":"","sensitive":false,"provided":false,"value":"https://csrsmlddh-master0.se-sandb.a465-9q4k.cloudera.site:7790/api/v1"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}